/* option top Buttons */

#searchButton, #searchInputBox {
    float: inline-end;
}

.optionButtons {
    margin-right: 2%;
}

/* transactionTable */

#btn-email {
    color: black;
}

.sortOrder:after {
    content: '  \25b2';
    /* UP-POINTING TRIANGLE */
    color: rgb(60, 60, 60);
}

.sortOrder.reverse:after {
    content: '  \25bc';
    /* DOWN-POINTING TRIANGLE */
    color: rgb(60, 60, 60);
}

.col-1 {
    width: min-content;
}

thead tr th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(212, 212, 212);
}

.table-responsive {
    height: 360px;
    overflow-y: auto;
}

#settingIcon {
    text-indent: 40%;
    padding-block: 7px;
    padding-inline: 13px;
}

#transactionRows tr.selected {
    background-color: rgb(160, 160, 255);
    color: white;
}

#transactionRows tr.selected:hover {
    background-color: rgb(130, 130, 255);
    color: white;
}

#transactionRows tr.selected:active {
    background-color: rgb(74, 74, 255);
    color: white;
}