#optionButtons button {
    background-color: rgb(241, 241, 241);
}

#optionButtons :hover {
    background-color: rgb(220, 220, 220);
}

.col-1 {
    width: min-content;
}

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(212, 212, 212);
}

.table-responsive { 
    height: 360px;
    overflow-y: auto;
}