<h1 class="title">{{title}}</h1>
<br />

<div class="container-fluid">
  <div class="row">

    <!-- Botones opcionales (panel izquierdo) -->
    <div class="d-grid col-1 my-sm-0 mx-sm-3" id="optionButtons">
      <button type="button" class="btn btn-lg btn-outline-light mb-2 mx-3"><img
          src="../../../assets/icons/refresh-cw.svg" alt="Refrescar" title="Refrescar" width="24px" (click)="refresh()">
      </button>

      <button type="button" class="btn btn-lg btn-outline-light mb-2 mx-3"><img src="../../../assets/icons/search.svg"
          art="Buscar" width="24px" title="Buscar en el listado" (click)="search()"> </button>

      <button type="button" class="btn btn-lg btn-outline-light mb-2 mx-3"><img
          src="../../../assets/icons/file-plus.svg" art="Crear" width="24px" title="Crear una transacción"
          (click)="create()"> </button>
    </div>

    <!-- Tabla de transacciones -->
    <div class="col">
      <div class="container-fluid">
        <div class="table-responsive">
          <table class="table table-striped table-hover align-middle" name="tableTransactions">
            <thead>
              <tr>
                <th scope="col">
                  <button type="button" class="btn btn-outline-light" (click)="sortBy('index')"><img
                      src="../../../assets/icons/hash.svg" alt="#" title="#" width="20px"></button>
                  <span class="sortOrder" *ngIf="propertyName === 'index'" [ngClass]="{reverse: reverse}"></span>
                </th>
                <th scope="col">
                  <button type="button" class="btn btn-outline-light" (click)="sortBy('email')" id="btn-email"><img
                      src="../../../assets/icons/at-sign.svg" alt="@" width="20px"> E-mail</button>
                  <span class="sortOrder" *ngIf="propertyName === 'email'" [ngClass]="{reverse: reverse}"></span>
                </th>

                <th scope="col">
                  <button type="button" class="btn btn-outline-light" (click)="sortBy('mount')"><img
                      src="../../../assets/icons/dollar-sign.svg" alt="Monto" title="Monto" width="24px"></button>
                  <span class="sortOrder" *ngIf="propertyName === 'mount'" [ngClass]="{reverse: reverse}"></span>
                </th>

                <th scope="col">
                  <button type="button" class="btn btn-outline-light" (click)="sortBy('source')"><img
                      src="../../../assets/img/card1.png" alt="Medio de Pago" title="Medio de Pago"
                      width="24px"></button>
                  <span class="sortOrder" *ngIf="propertyName === 'source'" [ngClass]="{reverse: reverse}"></span>
                </th>

                <th scope="col">
                  <button type="button" class="btn btn-outline-light" (click)="sortBy('date')"><img
                      src="../../../assets/icons/calendar.svg" alt="Fecha" title="Fecha" width="24px"></button>
                  <span class="sortOrder" *ngIf="propertyName === 'date'" [ngClass]="{reverse: reverse}"></span>
                </th>

                <th scope="col">
                  <button type="button" class="btn btn-outline-light" (click)="sortBy('status')"><img
                      src="../../../assets/icons/check-circle.svg" alt="¿Pagado?" title="¿Pagado?"
                      width="24px"></button>
                  <span class="sortOrder" *ngIf="propertyName === 'status'" [ngClass]="{reverse: reverse}"></span>
                </th>
                <th scope="col">
                  <div id="settingIcon">
                    <img src="../../../assets/icons/tool.svg" alt="Ajustes" title="Ajustes" width="24px">
                  </div>
                </th>
              </tr>
            </thead>
            <tbody id="transactionRows">
              <!-- Angular's class binding can add and remove a CSS class conditionally. Add [class.some-css-class]="some-condition" to the element you want to style. -->
              <tr *ngFor="let transaction of transactions | sort:propertyName:reverse;" (click)="onSelect(transaction);"
                [class.selected]="transaction === selectedTransaction">
                <th scope="row" style="text-indent: 20%;">{{ transaction.index }}</th>
                <td>{{ transaction.email }}</td>
                <td style="text-indent: 5%;">{{ transaction.mount | currency }}</td>
                <td>{{ transaction.source | uppercase }}</td>
                <td>{{ transaction.date | date:"fullDate" }}</td>
                <td style="max-width: fit-content;">{{ transaction.status | uppercase }}</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-outline-light mx-1"><img
                      src="../../../assets/icons/edit.svg" art="Editar" width="24px" title="Editar una transacción"
                      (click)="update()"> </button>

                  <button type="button" class="btn btn-outline-light mx-1"><img src="../../../assets/icons/delete.svg"
                      art="Borrar" width="24px" title="Borrar" (click)="delete()"> </button>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <!-- PRUEBAS -->

        <div *ngIf="selectedTransaction">

          <h2>{{selectedTransaction.email | uppercase}} Detalles</h2>
          <div><span>Internal Id: </span>{{selectedTransaction._id}}</div>
          <div>
            <label for="t-mount">transaction mount: </label>
            <input id="t-mount" [(ngModel)]="selectedTransaction.mount" placeholder="">
          </div>

        </div>


      </div>
    </div>
  </div>
</div>