<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<!-- Presentación -->
<header>
  <h1 class="title">{{title}}</h1>
  <p lang="es">La presente aplicación web forma parte de la {{title}}. Cursada 2021. </p>
  <ul>Integrantes</ul>
  <li><a title="ramagardelli@gmail.com">Ramón Gardelli</a></li>
  <li><a title="maxiromeropiaggio@gmail.com">Maximiliano Romero Piaggio</a></li>
  <ul>Docentes</ul>
  <li>Alejandro Zunino</li>
  <li>Alfredo Teyseyre</li>
</header>

<body>
  <hr>
  <!-- Gestor de transacciones -->
  <app-transaction-manager></app-transaction-manager>
</body>


</html>