#imgMain {
    display: block;
    margin-left: 100%;
    float: right;
    margin-inline-end: 5%;
    image-rendering: optimizeQuality;
}

#presentationTab {
    border-top-color: white ;
    border-left-color: white ;
    border-right-color: white ;
    border-style: solid;
}

ul {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    text-justify: auto;
}

li, li a {
    text-indent: 6%;
    font-size: 16px;
}

body hr {
    margin-top: 40px;
    color:gray;
}