html {
    background: url(../img/background.jpg) center;
    background-color: wheat;
    margin-left: -8px;
    margin-right: -8px;
}

header {
    margin-top: -32px;
}

header ul {
    font-size: 20px;
}

header p {
    text-indent: 40px;
    font-size: 28px;
}

header li, header li a {
    text-indent: 100px;
    font-size: 16px;
}

body hr {
    margin-top: 40px;
    color:lightblue;
}